                <aside class="sidebar">
                    <div class="sidebar-container">
                        <div class="sidebar-header">
                            <div class="brand">
                                
                                
                        {% load static %} 
                        <img id="logo-endogeno" width="80%" src="{% static 'inventario/assets/logo/logo3.png' %}">
                            </div>
                        </div>

                        <nav class="menu">
                            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                                <li>
                                    <a href="/inventario/panel">
                                        <i class="fa fa-home"></i> Inicio </a>
                                </li>
                                <!-- Sub-menu de producto -->
                                <li>
                                    <a href="">
                                        <i class="fa fa-shopping-basket"></i>Insumo
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li><a href="/inventario/listarProductos"><i class="fa fa-ellipsis-h"></i>Listar insumos</a></li>
                                        <li><a href="/inventario/agregarProducto"><i class="fa fa-plus"></i>Agregar insumos</a></li>
                                    </ul>
                                </li>
                                <!--Fin de sub-menu de producto -->



                                <!-- Sub-menu de proveedor -->    
                                <li>
                                    <a href="">
                                        <i class="fa fa-book"></i>Proveedor
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li><a href="/inventario/listarProveedores"><i class="fa fa-ellipsis-h"></i>Listar proveedores</a></li>                            
                                        <li><a href="/inventario/agregarProveedor"><i class="fa fa-plus"></i>Agregar proveedor</a></li>
                                    </ul>
                                </li>
                                <!-- Fin de sub-menu de proveedor -->
                                                                


                                <!-- Sub-menu de pedido -->
                                <li>
                                    <a href="">
                                        <i class="fa fa-gift"></i>Pedido
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li><a href="/inventario/listarPedidos"><i class="fa fa-ellipsis-h"></i>Listar pedidos</a></li>
                                        <li><a href="/inventario/agregarPedido"><i class="fa fa-plus"></i>Añadir pedido</a></li>

                                    </ul>
                                    </li>
                                <!-- Fin de sub-menu de pedido -->


                                <!-- Sub-menu de clientes-->
                                <li>
                                    <a href="">
                                        <i class="fa fa-handshake-o"></i>Transportistas
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">

                                          <li><a href="/inventario/listarClientes"><i class="fa fa-ellipsis-h"></i>Listar Transportistas</a></li>                            
                                          <li><a href="/inventario/agregarCliente"><i class="fa fa-plus"></i>Agregar Transportistas</a></li>
 
                                    </ul>
                                </li>
                                <!-- Fin de sub-menu de clientes -->

                                <!-- Sub-menu de factura-->
                                <li>
                                    <a href="">
                                        <i class="fa fa-ticket"></i>Retiro
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                       <li><a href="/inventario/listarFacturas"><i class="fa fa-ellipsis-h"></i>Listar retiros</a></li>
                                       <li><a href="/inventario/emitirFactura"><i class="fa fa-money"></i>Emitir retiro</a></li>

                                    </ul>
                                </li>
                                <!-- Fin de sub-menu de factura -->
                                
                                
                                <!-- Sub-menu de usuarios -->
                                <li>
                                    <a href="">
                                        <i class="fa fa-users"></i> Usuarios
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                         <li><a href="/inventario/crearUsuario"><i class="fa fa-circle-o"></i>Crear usuario</a></li>
                                         <li><a href="/inventario/listarUsuarios"><i class="fa fa-circle-o"></i>Listar usuarios</a></li>                                 
                                </ul>
                                </li>
                                <!--Fin de sub-menu de usuarios -->
                            </ul>
                        </nav>
                    </div>
                </aside>